@font-face { 
    font-family: 'Marvel'; 
    src: url('/fonts/CranberryJamSerif.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;
}



@font-face { 
    font-family: 'Sensei'; 
    src: url('/fonts/Sensei-Medium.woff2') format('woff2'); 
    font-weight: normal; 
    font-style: normal; 
    font-display: swap;
}
    *,* ::before ::after{padding:0;
    margin:0;
    padding: 0;
    box-sizing:border-box;
} 

a, 
*::before, 
*::after { 
display: inline-block; 
color: black;}
ul, li {
    list-style: none;
}



body{
    font-family: Sensei; 
    color: black;
}




@media (max-width: 454px) {
    .hero__title-image {
        font-size: 70px;
    }
}  
@media (max-width: 356px) {
    .hero__title-image {
        font-size: 60px;
    }
} 
.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 40px; /* щоб верхній текст не був впритул */
}

.hero__header {
  text-align: center;
  margin-bottom: 40px; /* відступ перед картинкою */
}

.hero__content {
                  
  width: 100%;
  
  display: flex;
  justify-content: center; 
  align-items: center;      
}

.hero__title {
    font-family: Marvel;
  font-size: 90px;
}

